/* google fonts cdn */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/* 
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 700

.oswald-<uniquifier> {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} 
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800

.open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
*/
body{
    font-family: "Open Sans", sans-serif;
}
*,
::after,
::before,
a,li{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

.container{
    max-width: 1270px;
    width: 100%;
    margin: 0 auto;
}

.commonDesign{
    background-color: black;
    padding: 20px;
    font-size: 20px;
    color: white;
}
.textCenter{
    text-align: center;
}

/* HEader design css start */
header{
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
}
 .headerSocialIcons{
    display: flex;
 }
 .headerSocialIcons li, .headerSearchIcons li{
    padding: 15px;
    text-align: center;
    transition: .4s;
 }
.headerSocialIcons i, .headerSearchIcons i{
    color: white;
    font-size: 20px;
     
   
}
.headerSocialIcons li:hover {
    background-color: #ccc;
    color: black;
}
.headerSocialIcons li:hover i{
    color: black;
}
.headerSearchIcons li:hover{
    background-color: #ccc;
    color: black;
}
.headerSearchIcons li:hover i{
    color: black;
}
/* HEader design css end */

/* Banner section start */
.bannerTopDetails{
    text-align: center;
}
.bannerTtitle{
    font-size: 30px;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    margin: 20px 0px;
}
.bannerDesc{
    font-size: 18px;
    font-family: "Oswald", sans-serif;
    margin: 20px 0px;
}
.bannerDesc span{
    background-color: black;
    color: white;
    padding: 5px;
}
.bannerImg{
    position: relative;
    background-color: #ccc;
}
.bannerInnerImg img{
    max-width: 100%;
    height: auto;
}

.bannerTittle{
   font-size: 40px;
   font-family: "Oswald", sans-serif;
   margin: 15px 0px;
}
.bannerInnerSubtitle{
    font-size: 60px;
    margin: 15px 0px;
}
.bannerTittle, .bannerInnerSubtitle{
    color: white;
}
.bannerInnerDetails{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    margin-left: 20px;
}
.bannerInnerDetails button{
    padding: 10px 20px;
    background-color: #ccc;
    color: black;
    font-size: 18px;
    font-family: "Oswald", sans-serif;
    border: none;
    cursor: pointer;
    transition: .4s;
}
.bannerInnerDetails button:hover{
    background-color: #edecec;
}
/* Banner section end */